*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
main{   
    width: 100%;
    height: 100vh; 
    background-image: linear-gradient(#009588 0%, #009588 15%, #dcdbd0 15%, #d1d9db 100%);
    padding: 50px 0;
}

/*Utils Layout*/

.app-container{
    width: 80%;
    margin: auto;
    height: 100%;  
    display: flex;
    overflow: hidden;
}

/* Dimensions Cols */
.col-contacts{
    width: 30%;
}
.col-chats{
    border: 2px solid yellowgreen;
    width: 70%;
}

/* Messages */
.message-list{
    background-color: white;
    width: 100%;
    list-style: none;
}

.messages-list li{
    padding: 20px 0;
    border-bottom: 1px solid #F3EEEA;
 }
/************/
/* Col Contacts */
/* User row */
.user-row{
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.col-contacts .user-row{
    border-left: 1px solid #d7d7d7;
}

.col-contacts .user-row .user-image img,
.col-chats .user-row .user-image img{
    height: 50px;
    border-radius: 50%;
}

.user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:5px 10px;
}

.user-image{
    display: flex;
    align-items: center;
}

/* Infos Row */
.infos span{
    display: block;
}

/* Notifications Row */
.notification-row{
    width: 100%;
    height: 80px;
    background-color: #8edafb;
    display: flex;
    align-items: center;
    padding: 10px;
}

.notification-icon{
    border: 1px solid none;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    color: #8edafb;
    margin-right: 20px;
}

.notification-message {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#notification-text{
    text-decoration: underline;
    color: #6f787b;
    cursor: pointer;
}

/* Search Row */
.navbar{
    width: 100%;
}

.search-row input{
    width: 90%;
    height: 90%;
    border: none;
}

.search-icon{
    font-family: 'fontawesome';
    font-size: 10px;
}
  
/* Col Chats */