<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css' integrity='sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==' crossorigin='anonymous'/>
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
     <!-- FontAwesome -->
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
    <title>BoolzApp</title>
</head>
<body>
    <main>
        <div id="root" class="app-container">
            <!-- Col Contacts -->
            <div class="col-contacts">
                <!-- User row -->
                <div class="user-row">
                    <div class="user-image">
                        <img :src="getAvatarImagePath(user.avatar) + '.jpg' " alt="Nome Utente">
                        <span>{{user.name}}</span>
                    </div>
                    <div class="icon-section">
                        <div class="dropdown">
                            <i class="fas fa-circle-notch icons" id="menu1Dropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="menu1Dropdown">
                                <li><a class="dropdown-item" href="#">Nessuna Storia Disponibile</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <i class="fas fa-comment-alt icons" id="menu2Dropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="menu2Dropdown">
                                <li><a class="dropdown-item" href="#">Apri nuova chat</a></li>
                                <li><a class="dropdown-item" href="#">Elimina tutte le chat</a></li>
                                <li><a class="dropdown-item" href="#">Segna tutte come lette</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <i class="fas fa-ellipsis-v icons" id="menu3Dropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>                        
                            <ul class="dropdown-menu" aria-labelledby="menu3Dropdown">
                                <li><a class="dropdown-item" href="#">Aggiungi nuovo Dispositivo</a></li>
                                <li><a class="dropdown-item" href="#">Esci dall'account</a></li>
                                <li><a class="dropdown-item" href="#">Impostazioni Profilo</a></li>
                            </ul>
                        </div>
                    </div>   
                </div>
                <!-- Notification row -->
                <div class="notification-row">
                    <div class="notification-icon">
                      <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="infos">
                        <div id="notification-message" v-if="notificationsActive" class="notification-message">Notifiche desktop attivate!</div>
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span id="notification-text" @click="toggleNotificationsActive">Attiva notifiche desktop</span>
                    </div>
                </div>                  
                <!-- Search row messages -->
                <div class="search-row">
                    <div class="search-bar">
                        <span class="search-icon"><i class="fas fa-search"></i></span>
                        <input v-model.trim="filtredContacts" @input="researchContacts" type="text" placeholder=" Cerca o inizia una nuova chat" />
                    </div>
                </div>
                <!-- Message list and contacts -->
                <ul class="message-list scrollbar" id="contacts">
                    <li v-for="(chat, index) in filteredContacts" :key="chat.id" class="user-image mb-1 py-2 contact">
                        <img :src="getAvatarImagePath(chat.avatar)" alt="chat.name">
                        <span>{{ chat.name }}</span>
                    </li>
                </ul>
            </div>
            <!-- Col Chats -->
            <div class="col-chats">
                
            </div>
        </div>
    </main>
    <!-- VueJs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JS -->
    <script src="js/script.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>