<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css' integrity='sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==' crossorigin='anonymous'/>
     <!-- FontAwesome -->
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
    <title>BoolzApp</title>
</head>
<body>
    <main>
        <div id="root" class="app-container">
            <!-- Col Contacts -->
            <div class="col-contacts">
                <!-- User row -->
                <div class="user-row">
                    <div class="user-image">
                        <img :src="getAvatarImagePath(user.avatar) + '.jpg' " alt="Nome Utente">
                        <span>{{user.name}}</span>
                    </div>
                    <div class="icon-section">
                        <i class="fas fa-circle-notch icons"></i>
                        <i class="fas fa-comment-alt icons"></i>
                        <i class="fas fa-ellipsis-v icons"></i>                        
                    </div>
                </div>
                <!-- Notification row -->
                <div class="notification-row">
                    <div class="notification-icon">
                      <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="infos">
                        <div id="notification-message" v-if="notificationsActive" class="notification-message">Notifiche desktop attivate!</div>
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span id="notification-text" @click="toggleNotificationsActive">Attiva notifiche desktop</span>
                    </div>
                </div>                  
                <!-- Search row messages -->
                <div class="search-row">
                    <div class="search-bar">
                        <span class="search-icon"><i class="fas fa-search"></i></span>
                        <input v-model.trim="filtredContacts" @input="researchContacts" type="text" placeholder=" Cerca o inizia una nuova chat" />
                    </div>
                </div>
                <!-- Message list and contacts -->
                <ul class="message-list" id="contacts">
                    <li v-for="(chat, index) in filteredContacts" :key="chat.id" class="user-image mb-1 py-2 contact">
                        <img :src="getAvatarImagePath(chat.avatar)" alt="chat.name">
                        <span>{{ chat.name }}</span>
                    </li>
                </ul>
            </div>
            <!-- Col Chats -->
            <div class="col-chats">

            </div>
        </div>
    </main>
    <!-- VueJs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JS -->
    <script src="js/script.js"></script>
</body>
</html>